{% extends "base.html" %}
{% import "macros.html" as macros with context %}

{% block body %}
<title>JobTracker</title>
{% if not current_user.is_anonymous %}
<a class="badge-custom" onclick="toggleDiv('jobappCreate')"><i class="bi bi-plus-lg"></i> new jobapp</a>
<div style="display:none" id="jobappCreate" class="mt-3">{{ macros.jobapp_create_form() }}</div>
{{ macros.sorter(class='mt-3') }}
<div class="row mt-3">
  {% for i in current_user.get_jobapps(order_by=order_by) %}
  {{ macros.jobapp_card(i) }}
  {% endfor %}
</div>
{% else %}
<div class="text-center opacity-25">
  <a data-bs-toggle="modal" data-bs-target="#loginModal" class="font-custom text-decoration-underline">log in</a> or
  <a data-bs-toggle="modal" data-bs-target="#signupModal" class="font-custom text-decoration-underline">sign up</a>
</div>
{% endif %}
{% endblock %}