<!--suppress ALL -->
{% macro input(class='', placeholder='', type='text', id='', name='', value='') %}
<input autocomplete="off"
       placeholder="{{ placeholder }}"
       class="input-custom {{ class }}"
       id="{{ id }}"
       type="{{ type }}"
       name="{{ name }}"
       value="{{ value }}">
{% endmacro %}

{% macro card(size=4, class='') %}
<div class="card col-xl-{{ size }}">
  <div class="card-body {{ class }}">
    {{ caller() }}
  </div>
</div>
{% endmacro %}

{% macro modal(id, class='') %}
<div class="modal" id="{{ id }}">
  <div class="modal-dialog {{ class }}">
    <div class="modal-content p-3">
      <a data-bs-dismiss="modal" class="small text-danger font-custom mb-3">close</a>
      {{ caller() }}
    </div>
  </div>
</div>
{% endmacro %}

{% macro dropdown(id, class='') %}
<div class="dropdown-menu {{ class }}" id="{{ id }}">
  {{ caller() }}
</div>
{% endmacro %}

<!--FORMS-->
{% macro login_form() %}
<form method="POST" action="{{ url_for('login') }}">
  {{ input(name='username', placeholder='Username', class='w-100 mb-3') }}
  {{ input(name='password', placeholder='Password', class='w-100 mb-3', type='password') }}
  <button type="submit" class="btn-custom w-100">Log In</button>
</form>
{% endmacro %}

{% macro signup_form() %}
<form method="POST" action="{{ url_for('signup') }}">
  {{ input(name='username', placeholder='Username', class='w-100 mb-3') }}
  {{ input(name='password', placeholder='Password', class='w-100 mb-3', type='password') }}
  {{ input(name='password_confirm', placeholder='Confirm Password', class='w-100 mb-3', type='password') }}
  <button type="submit" class="btn-custom w-100">Sign Up</button>
</form>
{% endmacro %}

{% macro account_edit_form(class='') %}
<div class="{{ class }}">
  <form action="{{ url_for('change_account') }}" method="POST" class="mb-5">
    {{ input(name='username', value=current_user.username, placeholder='Username', class='mb-3') }}<br>
    <button class="btn-custom">edit account</button>
  </form>
  <form action="{{ url_for('change_password') }}" method="POST">
    {{ input(name='old_password', placeholder='Password', type='password', class='mb-3') }}<br>
    {{ input(name='new_password', placeholder='New Password', type='password', class='mb-3') }}<br>
    {{ input(name='new_password_confirm', placeholder='Confirm Password', type='password', class='mb-3') }}<br>
    <button class="btn-custom">change password</button>
  </form>
</div>
{% endmacro %}

{% macro jobapp_create_form() %}
<form onsubmit="event.preventDefault(); jobappCreate(); this.reset();">
  <input autocomplete="off" id="url" class="input-custom">
  <input autocomplete="off" id="employer" class="input-custom">
  <button type="submit" class="btn-custom"><i class="bi bi-plus-lg"></i></button>
</form>
{% endmacro %}

{% macro editor(class='') %}
<form onsubmit="event.preventDefault()" class="{{ class }}">
  <div class="py-3" style="font-size: 1.5em">
    <button onclick="document.execCommand('bold')" class="btn-custom bi bi-type-bold"></button>
    <button onclick="document.execCommand('italic')" class="btn-custom bi bi-type-italic"></button>
    <button onclick="document.execCommand('insertUnorderedList')" class="btn-custom bi bi-list-ul"></button>
    <button onclick="document.execCommand('insertOrderedList')" class="btn-custom bi bi-123"></button>
    <button onclick="document.execCommand('removeFormat')" class="btn-custom bi bi-eraser"></button>
    <button onclick="document.execCommand('fontName', false, 'monospace')" class="btn-custom bi bi-code-slash"></button>
    <button onclick="document.execCommand('indent')" class="btn-custom bi bi-text-indent-left"></button>
    <button onclick="document.execCommand('outdent')" class="btn-custom bi bi-text-indent-right"></button>
  </div>
  <div contenteditable="true" class="input-custom mb-3" style="height: 300px" id="content">WYSIWYG</div>
  <button type="submit" class="btn-custom bg-success w-100">save</button>
</form>
{% endmacro %}