:root, html[data-theme="dark"] {
    --navbar-bg: white;
    --navbar-txt: #1a1a1a;
    --body-bg: #1a1a1a;
    --body-txt: white;
}

html[data-theme="light"] {
    --navbar-bg: #1a1a1a;
    --navbar-txt: white;
    --body-bg: white;
    --body-txt: #1a1a1a;
}

html[data-theme="gray"] {
    --navbar-bg: white;
    --navbar-txt: gray;
    --body-bg: gray;
    --body-txt: white;
}

html[data-theme="green"] {
    --navbar-bg: #C3EAC5;
    --navbar-txt: #4B7F52;
    --body-bg: #4B7F52;
    --body-txt: #C3EAC5;
}

html[data-theme="blue"] {
    --navbar-bg: #B8BECC;
    --navbar-txt: #586994;
    --body-bg: #586994;
    --body-txt: #B8BECC;
}

html[data-theme="purple"] {
    --navbar-bg: #D5B0AC;
    --navbar-txt: #5F0F40;
    --body-bg: #5F0F40;
    --body-txt: #D5B0AC;
}

html[data-theme="brown"] {
    --navbar-bg: #C1BDB3;
    --navbar-txt: #524948;
    --body-bg: #524948;
    --body-txt: #C1BDB3;
}

body, .modal-content, .card, .btn-custom:hover, .input-custom, .badge-custom, .dropdown-menu {
    background-color: var(--body-bg) !important;
    color: var(--body-txt) !important;
}

.navbar, .btn-custom, a.badge-custom:hover, .dropdown-item:hover {
    background-color: var(--navbar-bg) !important;
    color: var(--navbar-txt) !important;
}

a, a:hover {
    color: inherit !important;
    text-decoration: none;
    cursor: pointer;
}

.font-custom, .btn-custom, .badge-custom, .dropdown-item, ::placeholder {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 0.85em;
}

.border-custom, .card-body, .btn-custom, .badge-custom, .input-custom {
    border: 1px solid var(--body-txt);
}

.btn-custom, .input-custom {
    border-radius: 5px;
    padding: 5px 10px !important;
}

.badge-custom {
    border-radius: 10px;
    padding: 3px 10px !important;
}

.btn-custom, .badge-custom {
    transition: background-color .5s;
}

.card-body { border-radius: 5px; }

::placeholder {
    color: var(--body-txt);
    opacity: 50%;
}