$navbar-bg: white;
$navbar-txt: lighten(black, 10%);
$body-bg: lighten(black, 10%);
$body-txt: white;

a, a:hover {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

@mixin font-custom {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

@mixin border-custom {
    border: 1px solid $body-txt;
}

.font-custom, .dropdown-item { @include font-custom; }
.border-custom { @include border-custom; }

.navbar, .btn-custom {
    background-color: $navbar-bg;
    color: $navbar-txt;
}

body, .input-custom, .modal-content, .card, .badge-custom, .btn-custom:hover {
    background-color: $body-bg;
    color: $body-txt;
}

.card { border:none; }
.card-body {
    @include border-custom;
    border-radius: 5px;
}

.btn-custom {
    @include font-custom;
    @include border-custom;
    font-size: 0.9em;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s;
}

.badge-custom {
    @include font-custom;
    @include border-custom;
    font-size: 0.8em;
    padding: 3px 15px;
    border-radius: 10px;
}

.input-custom {
    @include border-custom;
    padding: 5px 10px;
    border-radius: 5px;
}